ultralytics
opencv-python-headless==4.5.3.56
# streamlit==1.42.2
moviepy==1.0.3
decorator==4.0.2
mlflow==2.20.3
python-box==7.3.2
dagshub==0.5.8
setuptools==75.8.2
fastapi==0.115.11
uvicorn==0.34.0
python-multipart==0.0.20
python-dotenv
setuptools
# numpy==1.25.2 >=1.23.0
numpy
.